<div class="sidebar" [class.collapsed]="collapsed()">
  <div class="top">
    <div class="logo">
      <i class="pi pi-box"></i>

      @if (!collapsed()) {
        <span>Inventory</span>
      }
    </div>
    <button class="toggle" (click)="toggle()">
      <i class="pi" [class.pi-angle-left]="!collapsed()" [class.pi-angle-right]="collapsed()"> </i>
    </button>

  </div>

  <nav>
    @for (menu of menus; track menu.route) {
      <a [routerLink]="menu.route" routerLinkActive="active">
        <i [class]="menu.icon"></i>

        @if (!collapsed()) {
          <span>{{ menu.label }}</span>
        }
      </a>
    }
  </nav>

  <div class="profile">
    <img src="https://i.pravatar.cc/100" alt="" />

    @if (!collapsed()) {
      <div>
        <strong>Ahad</strong>

        <small>Administrator</small>
      </div>
    }
  </div>
</div>
